<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>IIIF Cropping Tool</title>
  <meta name="description" content="A tool for cropping images from IIIF manifests, developed at the McGraw Center for Teaching and Learning, Princeton University">
  <script src="assets/js/jquery.min.js"></script>

  
<!-- jQuery Modal -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
  

  <link type="text/css" rel="stylesheet" href="assets/css/style.css">
  <link rel="shortcut icon" type="image/jpg" href="assets/images/favicon.gif"/>
</head>

<body>


 {{ content }}
</body>
</html>
